.event_card {
    background-color: #666666;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
    
}

.event_card:hover {
    background-color: #242831;
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}

.event_card h4 {
    margin-bottom: 0.5rem;
}

.event_card p {
    margin: 0.3rem 0;
}

.title_placeholder {
    display: flex;
    gap: 20px;
    align-items: center;
}

.sec_placeholder{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #c9c9c9;
}

.event_card_title_container{
    display: flex;
    flex-direction: column;
    /* gap: 2px; */
    align-items: center;
}

.event_details_p{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
