.container {
    display: flex;
    padding: 2rem;
    gap: 2rem;
    flex-direction: row;
}

.events_list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.event_details {
    flex: 2;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.event_info {
    background: #666666;
    padding: 1.5rem;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    height: auto;
}

.text_placeholder{
    display: flex;
    gap: 20px;
    align-items: center;
}

.placeholder{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: #c9c9c9;
}

.event_content{
    text-align: left;    
}

.event_content p{
    font-size: large;
}

.event_description {
    padding: 1.5rem;
    background: #666666;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(56, 55, 55, 0.2);
}

.register_box {
    background: #666666;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: left;  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register_btn {
    padding: 0.7rem 1rem;
    background-color: #3066be;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.register_btn:hover {
    background-color: #020e49;
    transform: scale(1.05);
}


@media (max-width: 810px) {
    .container {
        flex-direction: column;
    }

    .events_list {
      display: flex;
      flex-direction: row; /* Align items in a row */
      gap: 1.5rem; /* Space between event cards */
      overflow-x: scroll; /* Enable horizontal scrolling */
      scroll-behavior: smooth; /* Smooth scrolling effect */
      padding-bottom: 1rem; /* Add padding for scroll visibility */
    }
  
    .events_list::-webkit-scrollbar {
      height: 8px; /* Set scrollbar height */
    }
  
    .events_list::-webkit-scrollbar-thumb {
      background-color: #444444; /* Scrollbar thumb color */
      border-radius: 4px; /* Rounded scrollbar thumb */
    }
  
    .events_list::-webkit-scrollbar-track {
      background: #1a1a1a; /* Scrollbar track color */
    }
}



